<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css" />
        <title>Product Listing Page</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="header">
                <div class="brand">
                    <a href="index.html">Store</a>
                </div>
                <div class="header-links">
                    <a href="signin.html">SignIn</a>
                </div>
            </header>
            <main class="main">
                <div class="content">             
                    <ul class="products">
                        <li>
                            <div class="product">
                                <img class="product-image" src="static/images/a1.jpg" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Ideapad S340</a>
                                </div>
                                <div class="product-brand">Lenovo</div>
                                <div class="product-price">$600</div>
                                <div class="product-description">nVIDIA Core i5 10th Gen</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="static/images/a1.jpg" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Ideapad S340</a>
                                </div>
                                <div class="product-brand">Lenovo</div>
                                <div class="product-price">$600</div>
                                <div class="product-description">nVIDIA Core i5 10th Gen</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="static/images/a1.jpg" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Ideapad S340</a>
                                </div>
                                <div class="product-brand">Lenovo</div>
                                <div class="product-price">$600</div>
                                <div class="product-description">nVIDIA Core i5 10th Gen</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="static/images/a1.jpg" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Ideapad S340</a>
                                </div>
                                <div class="product-brand">Lenovo</div>
                                <div class="product-price">$600</div>
                                <div class="product-description">nVIDIA Core i5 10th Gen</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="static/images/a1.jpg" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Ideapad S340</a>
                                </div>
                                <div class="product-brand">Lenovo</div>
                                <div class="product-price">$600</div>
                                <div class="product-description">nVIDIA Core i5 10th Gen</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="static/images/a1.jpg" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Ideapad S340</a>
                                </div>
                                <div class="product-brand">Lenovo</div>
                                <div class="product-price">$600</div>
                                <div class="product-description">nVIDIA Core i5 10th Gen</div>
                            </div>
                        </li>
                    </ul>
                </div>
                
            </main>
            <footer class="footer">
                All rights reserved
            </footer>
        </div>
    </body>
</html>